{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations!</title>    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>모든 할 일을 완료했습니다!</h1>
        <div class="btn">
            <a href="/todo/todo/" class="link">Back</a>
        </div>
    </div>
</body>
</html>