{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-btn">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-btn">
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
            </div>
            {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button type="submit" class="form-btn">Log in</button>
        </form>
        <div class = "form-btn">
            <a href="/todo/signup/" class="link">Sign Up</a>
        </div>
    </div>
</body>
</html>